export PATH={{llvm_install_dir}}/bin:$PATH
# location of clang libs - used by irony-mode for example
export LIBCLANG_LIBRARY={{llvm_install_dir}}/lib/libclang.so
export LIBCLANG_INCLUDE_DIR={{llvm_install_dir}}/include
